
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body
{
    font-family: 'Oswald', sans-serif;
}
main
{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start-influencer
{
    display: flex;
}
.half-width
{
    width: 50%
}
.text
{
    padding: 50px;
    color: rgb(0, 0, 0);
}
.btn
{
    text-decoration: none;
    background-image: linear-gradient(rgb(94, 148, 139), rgb(22, 53, 110));
    color: white;
    padding: 1px 25px;
    border-radius: 10px;
}
.half-width img
{
    width: 300px;
    height: 300px;
}
.half-width p
{
    margin-bottom: 15px;
}
/* <!-- popular collection start --> */
.popular-collection a
{
    text-decoration: none;
    color: rgb(148, 40, 13);
    position: relative;
    left: 90%;
}
.collections
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    grid-gap: 25px;
}
.collection 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.collection-text
{
    margin-left: 33px;
}
.collection
{
    background-color: rgb(255, 255, 255);
    width: 250px;
    height: 370px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 10px grey;
}
.collection img
{
    width: 180px;
    height: 150px;
    margin-top: 15px;
}
.fa-star
{
    font-size: 12px;
}
.fa-star.filled
{
    color: rgb(151, 151, 56);
}
.fa-star.empty
{
    color: #aeaeae;
}
.photography
{
    width: 80%;
    height: 300px;
    
}
.last-part
{
    display: flex;
}
.half-width-last > img
{
    width: 90%;
    height: 80%;
}
.join-btn
{
    text-decoration: none;
    background-image: linear-gradient(rgb(94, 148, 139), rgb(22, 53, 110));
    color: white;
    padding: 1px 25px;
    border-radius: 10px;
}





/* footer css start */
footer
{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* navbar for mobile */
@media screen(max-width:952px) 
{
    label.logo 
    {
        font-size:30px;
        padding-left:50px:
    }
    nav ul li a
    {
        font-size: 16px;
    }
    
}

/* For mobile phones: */

@media only screen and (max-width: 768px) {
    .start-influencer
    {
        display: grid;
        grid-template-rows: 1fr, 1fr;
        width: 100%;
    }
}